@use '@/styles/variables' as *;
@use '@/styles/globals' as *;

.controls {
  .sorting {
    position: absolute;
    top: 100%;
    opacity: 0;
    z-index: 998;
  }
  .sorting-show {
    opacity: 1;
  }
}