@use '@/styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all .333s ease-out;
  max-width: 100cqw;
}

body {
  background-color: $black;
  color: $white;
}

main {
  display: flex;
  flex-direction: column;
  gap: 96*$n;
  margin-top: 176*$n;
}

svg {
  width: auto;
  height: 1em;
}

img {
  position: relative !important;
}

html {
  &::-webkit-scrollbar {
    width: 4*$n;
  }
  &::-webkit-scrollbar-track {
    background-color: $black;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gray-3;
    border-radius: 4*$n;
    &:hover {
      background-color: $gray-2;
    }
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: $black;
  }
}