// colors
$accent: #FF40BF;
$accent-1: #FFBFE9;
$accent-2: #FF99DD;
$accent-3: #800054;

$white: #F2F2F2;
$gray-1: #BFBFBF;
$gray-2: #797979;
$gray-3: #333333;
$black: #000000;

$success: #40FF40;
$warn: #FFFF40;
$error: #FF4040;
$info: #4080FF;

$success-alt: #62B262;
$warn-alt: #B2B262;
$error-alt: #B26262;
$info-alt: #627DB2;

// number
$n: .0625rem;

// fonts
$font-heading: var(--font-heading);
$font-body: var(--font-body);