@use '@/styles/variables' as *;
@use '@/styles/globals' as *;

.header {
  position: fixed;
  top: 16*$n;
  z-index: 999;
  width: 100cqw;
}

.header-container {
  background-color: rgba($color: $gray-3, $alpha: .5);
  backdrop-filter: blur(5*$n);
}

@media screen and (width >= 1920px) {
  $adaptive: 240*$n;
  .header {
    padding: 0 $adaptive;
  }
}

@media screen and (width < 1920px) {
  $adaptive: 160*$n;
  .header {
    padding: 0 $adaptive;
  }
}

@media screen and (width < 1440px) {
  $adaptive: 64*$n;
  .header {
    padding: 0 $adaptive;
  }
}

@media screen and (width < 1024px) {
  $adaptive: 16*$n;
  .header {
    padding: 0 $adaptive;
  }
}

@media screen and (width < 768px) {
  $adaptive: 16*$n;
  .header {
    padding: 0;
    top: 0;
    border-radius: 0;
  }
}